@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.maateen.me/charu-chandan-3d/font.css');
@import url('https://fonts.maateen.me/mukti/font.css');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Explora&family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.maateen.me/charu-chandan-hard-stroke/font.css');

*{
    margin: 0;
    padding: 0;
}


/* navbar */
.navbar{
    height: 90px;
    /* border: 2px solid black; */
    background-color: #e1e8e9;
    /* position: sticky;
    top: 0;
    left: 0; */
}

.hams{
    display: none;
    position: absolute;
    cursor: pointer;
    top: 42%;
    right: 2%;
}

.line{
    width: 52px;
    background-color: black;
    height: 7px;
    margin: 3px;
    border-radius: 44px;
    
}

.navitems{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.items{
    margin:30px 62px;
}

.items a{
    text-decoration: none;
    color: black;
    font-family: 'Explora', cursive;
    font-weight: bolder;
    font-size: 38px;
}

#logo{
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    font-size: 22px;
    color: rgb(88, 28, 17);
    margin: 0px 100px;
}


.first{
    background: url("/IMAGES/contactbackground.jpg")center center/cover no-repeat;

    /* color: white; */
    /* font-weight: bolder; */
}

.heading{
    text-align: center;
    padding: 30px;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
}

.contactitems{
    height: 900px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactdetails{
    margin: 22px;
    font-size: 28px;
    font-family: 'Pacifico', cursive;
}

.mapbox{
    position: relative;
    height: 400px;
    width:98%;
    background-color: white;
    /* border: 3px solid rgb(0, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;

}

.mapbox iframe{
    width: 100%;
    height: 100%;
    /* filter: invert(100%); */
}

.contactdetailspara{
    width: 50%;
    margin: 28px;
    font-family: 'Explora', cursive;
    font-size: 32px;
    font-weight: bolder;

}


.second{
    height: 600px;
    background: url("/IMAGES/pizzamenu1.jpg")center center/cover no-repeat;
    color: white;
}

.contactnums{
    text-align: center;
    padding: 22px;
    font-family: 'Pacifico', cursive;
    font-size: 34px;
}

.allcons{
    margin: 20px;
    text-align: center;
}

.allcons a:hover{
    filter: invert(100%);
}

.allcons a{
    margin: 0px 20px;
}

.directcontact{
    padding: 22px;
    font-size: 33px;
    font-family: 'Pacifico', cursive;
    text-align: center;


}

.directpara{
    padding: 5px;
    font-size: 33px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

@media(max-width:1090px){
    .navbar {
        height: 500px;
        /* display:none; */
        transition: all 1s ease-out;
    }
    .navitems {
        flex-direction: column;
        transition: all 1s ease-out;
    }

    .hams{
        display: block;
        position: absolute;
        cursor: pointer;
        top: 4%;
        right: 5%;
    }
    
    .h-nav{
        height: 100px;
    }
    
    .navseen{
        opacity: 0;
    }
    
    div #logo{
        opacity: 1;
    }
    
    .line{
        width: 52px;
        background-color: black;
        height: 7px;
        margin: 3px;
        border-radius: 44px;
        
    }
    .heading{
        font-size: 50px;

    }
    .contactitems {
        height: 1200px;
    }
    .contactdetailspara {
        width: 70%;
        font-size: 30px;
    }

    .contactnums {
        font-size: 24px;
    }

    .directpara {
        padding: 5px;
        font-size: 26px;
    }
    .directcontact {
        font-size: 28px;
    }
}

@media(max-width:590px){
    .contactdetailspara {
        width: 90%;
        font-size: 25px;
    }
    .second {
        height: 900px;
    }
    .contactnums {
        font-size: 16px;
    }
}

@media(max-width:440px){
    .heading {
        font-size: 31px;
    }
    .contactdetails {
        margin: 22px;
        font-size: 23px;
    }
}